rds_username_dev = "root"
rds_password_dev = "rootroot" # Minimum 8 Characters

rds_username_stg = "root"
rds_password_stg = "rootroot" # Minimum 8 Characters

rds_username_prd = "root"
rds_password_prd = "rootroot" # Minimum 8 Characters
